<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082385650727-6ogt4k72sgddh5h7oav6lp9l3v0iiopo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082385650727-6ogt4k72sgddh5h7oav6lp9l3v0iiopo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082385650727-joeej585h1ghgb8egddslbmhca0gbmqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcsDc9L27RCFgSYNs03B4-sXFZKy23jSc</string>
	<key>GCM_SENDER_ID</key>
	<string>1082385650727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hackproject</string>
	<key>PROJECT_ID</key>
	<string>peertopeerlearning-d57ec</string>
	<key>STORAGE_BUCKET</key>
	<string>peertopeerlearning-d57ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082385650727:ios:c4c2ac740eb18cee47aa02</string>
</dict>
</plist>